@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLightItalic.woff2") format("woff2"),
      url("../fonts/MullerLightItalic.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
      url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegularItalic.woff2") format("woff2"),
      url("../fonts/MullerRegularItalic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
      url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
      url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
      url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: "Muller", "Arial", sans-serif;
  --second-family: "Open Sans", "Arial", sans-serif;
  --gap: 30px;
	--white: #ffffff;
	--primary: #6d31ee;
	--primary-shade: #4f28a5;
	--primary-light: #aa9dfa;
	--light-color: #e6e8ec;
	--text-gray: #a1a6b4;
	--shade-gray: #d2d5dd;
	--light-color-40: rgba(230, 232, 236, 0.4);
	--black: #121723;
	--light-black: #292e39;
	--red: #ff6f6f;
	--promo-color: #f0d288;
	--promo-color-shade: #bb973e;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 94px 15px;
  max-width: 1140px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 77px;
}

.btn-dark {
  padding: 9px 31px;
  font-size: 1.6rem;
  border-color: var(--black);
}

.btn-filling {
  padding: 25px 54px;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 40px;
}

.btn-purple {
  padding: 22px 52px;
  font-size: 2rem;
  color: var(--primary);
  border-color: var(--primary);
}

.flex {
  display: flex;
}

.section-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: var(--black);
}

.section-subtitle {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}

.icon-center {
  vertical-align: middle;
}

/* header */
.header__top {
  padding: 20px 0;
  border-bottom: 1px solid var(--light-color);
}

.header__container {
  padding: 0 15px;
  align-items: center;
}

.header__container--top {
  justify-content: space-between;
}

.nav__items {
  align-items: center;
  gap: 59px;
  font-size: 2rem;

}

.header__buttons {
  align-items: center;
  gap: 24px;
}

.header__bottom {
  border-bottom: 1px solid var(--light-color);
}

.header__bottom-wrapper {
  padding: 9px 0;
  align-items: center;
}

.header__items {
  margin-right: 51px;
  gap: 53px;
}

.header__stream {
  margin-right: 51px;
}

.stream__block {
  padding: 2px 0;
  padding-right: 49px;
  padding-left: 10px;
}

.header__stream {
  border-left: 1px solid var(--light-color);
}

.stream__now {
  padding-right: 44px;
  border-left: 1px solid var(--light-color);
  border-right: 1px solid var(--light-color);
}

.btn-play {
  padding-right: 7px;
}

.stream__heading {
  margin-bottom: 3px;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-gray);
}

.header__age-limit {
  padding: 14px 9px;
  width: 46px;
  background-color: var(--light-color);
}

.header__age {
  padding-top: 9px;
  display: block;
  width: 30px;
  height: 30px;
  font-family: var(--second-family);
  font-size: 1.2rem;
  text-align: center;
  color: var(--light-color);
  background-color: var(--white);
  border-radius: 90px;
}

/* hero */
.hero {
  background-color: var(--white);
}

.hero__container {
  padding: 90px 15px 118px;
  background-image: url("../images/hero-bg.jpg");
  background-position: 772px 30px;
  background-size: 352px 380px;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 54%;
}

.hero__title {
  margin-bottom: 9px;
  font-size: 6rem;
}

.hero__title--bold {
  font-weight: 700;
}

.hero__title--italic {
  font-weight: 400;
  font-style: italic;
}

.hero__descr {
  margin-bottom: 69px;
  line-height: 1.5;
}

/* podcasts */
.podcasts {
  background-color: var(--light-color);
}

.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__main-content {
  flex-direction: column;
  align-items: center;
}

.podcasts__items {
  margin-bottom: 60px;
  --offsets: 1;
  flex-wrap: wrap;
  gap: var(--gap);
}

.podcasts__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.podcasts__item:nth-child(n + 9) {
  display: none;
}

.podcasts__item.is-visible {
  display: flex;
}

.podcasts__image {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 21%;
}

.podcasts__date {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2px 0;
  min-width: 51px;
  font-size: 1rem;
  text-align: center;
  background-color: var(--light-color);
}

.podcasts__wrapper {
  width: 79%;
  background-color: var(--white);
}

.podcasts__top {
  padding: 23px 29px;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-color);
}

.podcasts__info {
  flex-direction: column;
}

.podcasts__time {
  margin-bottom: 6px;
  font-size: 1.2rem;
}

.podcasts__subtitle {
  margin-bottom: 1px;
}

.podcasts__author {
  color: var(--text-gray);
}

.podcasts__bottom {
  padding: 7px 29px 5px;
}

.podcasts-action {
  align-items: center;
  gap: var(--gap);
}

.podcasts-action__btn svg {
  margin-right: 2px;
}

/* broadcasts */
.broadcasts__container {
  gap: var(--gap);
}

.broadcasts__aside {
  flex-direction: column;
  justify-content: space-between;
  max-width: 23%;
}

.broadcasts__author {
  margin-bottom: 8px;
  font-weight: 400;
  color: var(--text-gray);
}

.broadcasts__items {
  --offsets: 2;
  padding-top: 14px;
  flex-wrap: wrap;
  gap: var(--gap);
  max-width: 77%;
}

.broadcasts__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.broadcasts__image {
  width: 100%;
  min-height: 148px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.broadcasts__image--1 {
  background-image: url("../images/broadcasts/broadcasts-1.jpg");
}

.broadcasts__image--2 {
  background-image: url("../images/broadcasts/broadcasts-2.jpg");
}

.broadcasts__image--3 {
  background-image: url("../images/broadcasts/broadcasts-3.jpg");
}

.broadcasts__image--4 {
  background-image: url("../images/broadcasts/broadcasts-4.jpg");
}

.broadcasts__image--5 {
  background-image: url("../images/broadcasts/broadcasts-5.jpg");
}

.broadcasts__image--6 {
  background-image: url("../images/broadcasts/broadcasts-6.jpg");
}

.broadcasts__info {
  padding: 18px 15px;
  flex-direction: column;
  border: 1px solid var(--light-color);
}

.broadcasts__subtitle {
  margin-bottom: 1px;
}

.broadcasts__date {
  margin-bottom: 18px;
  font-size: 1.2rem;
  color: var(--text-gray);
}

.broadcasts__link {
  font-style: italic;
}

